* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  width: 100%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h5 {
  font-family: 'Handlee', cursive;
}
h1 {
  font-size: 4.5rem;
  color: #c13b3b;
  font-weight: bold;
  line-height: 1.3;
}
h2 {
  font-size: 3rem;
  color: #fffefa;
}
h3 {
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
  color: #2e2f38;
}
h4 {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  color: #fffefa;
}
p {
  line-height: 1.5;
  font-size: 2rem;
}
a {
  text-decoration: none;
  color: #fffefa;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #6e0000;
  position: fixed;
  width: 100%;
}
nav .icon {
  width: 20%;
  margin-left: 25px;
}
nav .title {
  width: 60%;
  text-align: center;
}
nav .rightNav {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-right: 25px;
}
nav .rightNav h1 {
  margin: 0px 10px;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  height: 400px;
  background: url("/img/family.jpg") no-repeat;
  background-size: auto;
}
header div {
  width: 25%;
  margin-left: 40px;
}
footer {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  background: #6e0000;
  line-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .copyDiv {
  margin-left: 40px;
  width: 50%;
}
footer .footNav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 40px;
  width: 50%;
}
footer .footNav h4 {
  padding: 0px 20px;
}
main {
  max-width: 1000px;
}
main section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px;
}
main section:nth-child(odd) {
  background-color: #fef7ea;
}
main section div {
  width: 30%;
}
main section div img {
  max-width: 100%;
}
main .sectionTitle {
  width: 100%;
  text-align: center;
  margin: 20px 0px;
}
