* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  width: 100%;
  max-width: 1000px;
  margin: 0px auto;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h5 {
  font-family: 'Handlee', cursive;
}
h1 {
  font-size: 4.5rem;
  color: #c13b3b;
  font-weight: bold;
  line-height: 1.3;
}
@media (max-width:800px) {
  h1 {
    font-size: 3.5rem;
  }
}
h2 {
  font-size: 3rem;
  color: #fffefa;
}
@media (max-width:800px) {
  h2 {
    font-size: 2rem;
  }
}
h3 {
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
  color: #2e2f38;
}
h4 {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  color: #fffefa;
}
@media (max-width:500px) {
  h4 {
    font-size: 1.2rem;
  }
}
p {
  line-height: 1.5;
  font-size: 2rem;
}
a {
  text-decoration: none;
  color: #fffefa;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #6e0000;
  position: fixed;
  width: 100%;
  max-width: 1000px;
}
nav .icon {
  width: 10%;
  margin-left: 25px;
}
@media (max-width:500px) {
  nav .icon {
    display: none;
  }
}
nav .title {
  width: 65%;
  text-align: center;
}
@media (max-width:800px) {
  nav .title {
    width: 70%;
  }
}
@media (max-width:500px) {
  nav .title {
    width: 70%;
  }
}
nav .rightNav {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-right: 25px;
}
nav .rightNav h1 {
  margin: 0px 10px;
}
@media (max-width:800px) {
  nav .rightNav {
    width: 20%;
  }
}
@media (max-width:500px) {
  nav .rightNav {
    width: 30%;
  }
}
@media (max-width:500px) {
  nav {
    height: 50px;
  }
}
header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  height: 400px;
  background: url("/img/family.jpg") no-repeat;
  background-position: 0px 50px;
}
@media (max-width:800px) {
  header {
    background-position: -130px 50px;
  }
}
@media (max-width:500px) {
  header {
    background: url("/img/familySM.jpg") no-repeat;
    justify-content: center;
    text-align: center;
    height: 320px;
  }
}
header div {
  width: 25%;
  margin-left: 40px;
}
@media (max-width:500px) {
  header div {
    width: 100%;
    margin: 180px 10px 0px 10px;
    padding-top: 20px;
    vertical-align: bottom;
  }
}
footer {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  background: #6e0000;
  line-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .copyDiv {
  margin-left: 40px;
  width: 50%;
}
footer .footNav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 40px;
  width: 50%;
}
@media (max-width:800px) {
  footer .footNav {
    width: 30%;
    margin-right: 20px;
  }
}
footer .footNav h4 {
  padding: 0px 10px;
}
main {
  max-width: 1000px;
}
main section {
  width: 100%;
  margin: 0 auto;
  padding: 0px 30px;
}
main section div.sectionItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  margin: 30px 0px;
}
main section div.sectionItem:nth-child(odd) {
  background-color: #fef7ea;
}
main section div.sectionItem div {
  width: 60%;
  padding: 20px;
}
@media (max-width:500px) {
  main section div.sectionItem div {
    width: 100%;
    margin: 0px 0px;
  }
}
@media (max-width:500px) {
  main section div.sectionItem {
    flex-direction: column;
    width: 100%;
    margin: 0px 0px;
    padding: 0px;
  }
  main section div.sectionItem:nth-child(even) div {
    order: 2;
  }
}
main .sectionTitle {
  width: 100%;
  text-align: center;
}
.aboutUs {
  color: red;
}
main {
  display: flex;
  width: 100%;
}
main section {
  margin-top: 50px;
}
main .sidebar {
  background: url("/img/aboutSidebar.jpg") no-repeat;
  width: 50%;
  height: 750px;
}
main .sidebar img {
  max-height: 100%;
}
main .aboutUs {
  width: 50%;
  padding-top: 50px;
}
main .aboutUs .carousel {
  background: gray;
  width: 400px;
  height: 600px;
  margin: 30px auto;
  text-align: center;
  padding-top: 170px;
}
