.aboutUs{
    color:red;
}
main{
    display:flex;
    width:100%;
    section{
        margin-top:50px;
    }
    .sidebar{
        background:url("/img/aboutSidebar.jpg") no-repeat;
        width:50%;
        height:750px;
        img{
            max-height:100%;
        }
     }
    .aboutUs{
        width:50%;
        padding-top:50px;
        .carousel{
            background:gray;
            width: 400px;
            height:600px;
            margin:30px auto;
            text-align:center;
            padding-top:170px;
        }
    }
}




