* {
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
  }
    
body{
    width:100%;
}
html, body {
    font-family: 'Roboto', sans-serif;
  }

h1, h2, h3, h4, h5 {
    font-family: 'Handlee', cursive;
}
  
h1 {
    font-size: 4.5rem;
    color:@textLight;
    font-weight:bold;
    line-height:1.3;
}
  
h2 {
    font-size: 3rem;
    color:@textLight;
}
h3{
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    color:@textDark;

}

p {
    line-height: 1.5;
    font-size: 2rem;
}

a{
    text-decoration:none;
    color:@textLight;
}