main{
    max-width: 1000px;

    section{
        .flex(row,space-between);
        flex-wrap: wrap;
        .centFull();
        padding:0px 20px;
        &:nth-child(even){
            background-color: @bkColor3;
        }

        &:nth-child(odd){
            background-color: white;
        }
        div{
            width:30%;
            img{
                max-width: 100%
            }
        }
    }
    .sectionTitle{
        width:100%;
        text-align: center;
        margin:20px 0px;
    }
}