nav{
    .flex(row,space-between);
    align-items:center;
    background:@primary1;
    position:fixed;
    width:100%;
    .icon{
        width:20%;
        margin-left:25px;
    }
    .title{
        width:60%;
        text-align: center;
    }
    .rightNav{
        width:20%;
        .flex(row,space-between);
        flex-wrap:nowrap;
        margin-right:25px;
        h1{
            margin:0px 10px;
        }
    }
}




header{
    width:100%;
    max-width:1000px;
    height:400px;
    background:url("/img/navImg.jpeg") no-repeat;
    background-size: auto;
}